@font-face {
  font-family: 'UniSansThinCaps';
  src: url('./fonts/UniSansThinCAPS.otf'); /* Путь к файлу со шрифтом */
 }
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}
.header {
  background-image: linear-gradient(-53deg, #00b8d4 0%, #1de9b6 100%);
  padding-bottom: 85px;
  padding-top: 60px;
}
.container {
  max-width: 1431px;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: space-between;
}
.menu-logo {
  display: flex;
}
.menu-logo__avatar {
  width: 48px;
  height: 47px;
  background-image: url('../img/icons/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-logo-desc {
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 23.5px;
  margin-left: 16px;
}
.menu-logo-desc__title {
  display: block;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 400;
}
.menu-logo-desc__subtitle {
  font-family: 'UniSansThinCaps', sans-serif;
  font-weight: 100;
}
.menu-list__item {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  line-height: 25px;
}
.menu-list__item:nth-child(2) {
  margin: 0 26px;
}
.menu-list__item_active {
  color: #061e37;
  font-weight: 600;
}
.menu-btns {
  /* display: flex; */
}
.menu-btns__btn {
  color: #ffffff;
  font-family: 'Verdana', sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 5px 20px;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  /* box-sizing: border-box; */
  border-radius: 3px;
  transition: .2s;
}
.menu-btns__btn:hover {
  background: #061e37;
  border-color: #061e37;
  color: #fff;
}
.sign {
  margin-right: 7px;
}
.block-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 135px;
}
.block-text__title {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 800;
  text-transform: uppercase;
}
.block-text__subtitle {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.6px;
  line-height: 6px;
}
.block-text-btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}
.btn {
  font-size: 15px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 22px 40px;
  border: none;
  outline: none;
  color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  transition: .2s;
  cursor: pointer;
}
.btn_order {
  background-color: #061e37;
}
.btn_free {
  width: 160px;
  padding: 12px 30px;
  box-sizing: border-box;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 700;
  color: #061e37;
  font-size: 15px;
  background: #fff;
  margin-left: 30px;
}
.btn_free:hover, .btn_order:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.block-shop__img {
  background-image: url('../img/human.png');
  width: 613px;
  height: 323px;
}
.page {
  padding-top: 213px;
  padding-bottom: 163px;
}
.page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page-text__title {
  color: #061e37;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 45px;
  font-weight: 400;
}
.page-text__subtitle {
  color: #b0bec5;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 25px;
  font-weight: 400;
  margin: 15px 0 20px 0;
}
.page-text__desc {
  color: #b0bec5;
  /* font-family: 'Raleway', sans-serif; */
  font-size: 15px;
  font-weight: 400;
  width: 90vw;
  text-align: center;
}
.cards {
  margin-top: 102px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cards-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cards-block__img {
  width: 68px;
  height: 70px;
  margin-bottom: 45px;
}
.product-one {
  background: url('../img/icons/icon-product.png');
  background-size: cover;
}
.product-two {
  background: url('../img/icons/product-2.png');
  background-size: cover;
}
.product-three {
  background: url('../img/icons/product-3.png');
  background-size: cover;
}
.cards-block__title {
  color: #061e37;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}
.cards-block__desc {
  color: #78909c;
  font-family: 'TimesNewRoman', 'Times New Roman', Times, 'Baskerville', 'Georgia', serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 120px;
}
.btn_download {
  font-weight: 700;
  background-color: #1de9b6;
}
.footer {
  background-color: #061e37;
}
.menu_footer {
  align-items: center;
  padding: 30px 0;
}
.footer_title {
  font-size: 20px;
}

.menu-burger {
  cursor: pointer;
  position: relative;
  left: 30px;
  z-index: 3;
  display: none;
}
.menu-burger-lines,
.menu-burger-lines::before {
  position: absolute;
  width: 22px;
  height: 2px;
  background:#fff;
  border-radius: 10px;
}
.menu-burger-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-burger-lines::before {
  content: '';
  top: -6px;
}
.menu-burger-lines::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 2px;
  background:#fff;
  border-radius: 10px;
  top: 6px;
}
.menu-burger__active .menu-burger-lines {
  background: transparent;
}
.menu-burger__active .menu-burger-lines::before {
  top: 0;
  transform: rotate(45deg);
}
.menu-burger__active .menu-burger-lines::after {
  top: 0;
  transform: rotate(-45deg);
  width: 22px;
}
.menu-burger-list {
  background: #0A1522;
  padding: 100px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  display: none;
}
.menu-burger-list__item {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  /* transition: .2s; */
}
.menu-burger-list__item:hover {
  background: #1de9b6;
}
.menu-burger-list__item_active {
  background: #1de9b6;
}
.popup__active {
  display: block;
}
.menu-list_footer {
  display: block !important;
}

/* Media */
@media (max-width: 1450px) {
  .container {
    max-width: 90%;
  }
  .block-shop__img {
    width: 500px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (max-width: 1200px) {
  .block-text__title {
    font-size: 45px;
  }
  .block-text__subtitle {
    font-size: 18px;
  }
  .block-shop__img {
    width: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
@media (max-width: 992px) {
  .block-shop__img {
    width: 600px;
  }
  .block-shop {
    flex-direction: column;
  }
  .block-text__subtitle {
    text-align: center;
  }
  .block-text-btns {
    justify-content: center;
  }
  .block-shop__img {
    margin-top: 75px;
  }
}
@media (max-width: 800px) {
  .menu-burger {
    display: block;
  }
  .menu-btns{
    display: none;
  }
  .menu-list {
    display: none;
  }
  .block-shop__img {
    width: 450px;
  }
}
@media (max-width: 480px) {
  .menu-logo-desc {
    font-size: 16px;
  }
  .block-text__title {
    font-size: 34px;
    text-align: center;
  }
  .block-text__subtitle {
    line-height: inherit;
  }
  .cards {
    flex-direction: column;
  }
  .cards-block {
    margin-bottom: 50px;
  }
  .page-text__desc {
    width: 400px;
  }
  .block-shop__img {
    width: 350px;
  }
  .page-text__title {
    font-size: 8vw;
  }
  .page-text__desc{
    width: 95vw;
  }
  .menu_footer {
    flex-direction: column;
  }
  .menu-list_footer {
    margin-top: 20px;
  }
}
@media (max-width: 480px) {
  .block-shop__img {
    width: 300px;
  }
  .block-text-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btn_free {
    margin-left: 0;
  }
  .btn_order {
    width: 160px;
    margin-bottom: 15px;
  }
}